---
import Layout from "../layouts/Layout.astro";
import { Button } from "@heroui/react";
---

<Layout title="Welcome to Astro.">
	<main>
		<Button color="primary" client:visible>My button</Button>
	</main>
</Layout>
